.slider .slick-slider .slick-prev {
  z-index: 99;
  &:before {
    font-size: 48px;
    opacity: 0.5;
  }
}
.slider .slick-slider .slick-next {
  z-index: 99;
  &:before {
    font-size: 48px;
    opacity: 0.5;
  }
}
