.container {
  width: 100%;
  .content {
    position: relative;

    .header {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      color: #3c3e43;
    }
  }
  .photo_container {
    margin-bottom: 32px;
  }
  .form {
    .description_container {
      margin-bottom: 32px;
      .heading {
        font-weight: bold;
        font-size: 20px;
        color: #3c3e43;
        margin-bottom: 24px;
      }
      .label {
        display: block;
        font-weight: normal;
        font-size: 12px;
        color: #838894;
        margin-bottom: 6px;
      }
      .textarea {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 8px;
      }
    }
    .cancellation {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      .heading {
        font-weight: bold;
        font-size: 20px;
        color: #3c3e43;
        margin-bottom: 24px;
      }
      .radio-style {
        display: block;
        margin-bottom: 12px;
      }
    }
  }
  .btn_container {
    width: 160px;
  }
}
