/* .main {
  .photo_container {
    width: 570px;
    margin-bottom: 100px;
  }
  .ant-btn {
    height: 56px;
    width: 160px;
  }
} */
#radio {
  .ant-radio-wrapper {
    display: block;
    margin-bottom: 12px;
  }
}
