$black: #31394d;
$white: #fff;
$red: #eb5769;

$base-font-DM-Sans: 'DM Sans', 'Arial', 'Helvetica', sans-serif;

// Body
$base-text-color: $black !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.3 !default;
$base-font-family: $base-font-DM-Sans !default;

$base-min-width: 320px;
