.avatar_uploader_wrapper {
  .avatar-uploader {
    .ant-upload-select {
      width: 132px;
      height: 132px;
      padding: 5px;
      .ant-upload {
        img {
          width: 120px;
          height: 120px;
          border-radius: 8px;
        }
      }
    }
  }
}
