.preview_link {
  margin: 0 14px 7px 0;
  .file_link_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 70px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #838894;
    align-items: center;
    cursor: pointer;
    .image_container {
      flex-shrink: 0;
      width: 60px;
      height: 55px;
      border-radius: 7px;
      overflow: hidden;
      background-size: cover;
      background-position: 50% 0;
    }
    .file_icon {
      width: 60px;
      height: 55px;
      border-radius: 7px;
      padding: 20px;
      border: 1px solid lightgrey;
    }
    .file_descr {
      font-size: 12px;
    }
  }
}
