.container {
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 99999;
  display: block;
  width: 300px;
  height: 180px;
  padding: 40px 16px;
  background: white;
  border: 1px solid grey;
  border-radius: 16px;
  .content {
    .input_wrapper {
      display: flex;
      justify-content: space-between;
      padding: 16px 0 24px 0;
    }
  }
}
.hidden {
  display: none;
}
