@import 'styles/styles.scss';

.frame {
  .product {
    background: #f4f7fa;

    .content {
      display: flex;
      padding: 30px 0 160px;
      margin: auto;
      flex-wrap: wrap;

      @include media('<desktop') {
        padding-bottom: 100px;
      }

      @include media('<tablet') {
        padding-bottom: 40px;
      }

      .inner_content {
        font-size: 72px;
        flex-grow: 1;
        width: 50%;

        @include media('<desktop') {
          width: 100%;
        }
        .card_link {
          cursor: pointer;
        }
      }
    }
  }

  .related_products {
    padding-top: 20px;
    margin-bottom: 100px;

    @include media('<phone') {
      margin-bottom: 50px;
    }

    h2 {
      font-weight: bold;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: 0.5px;
      color: #31394d;
      text-align: center;

      @include media('<desktop') {
        font-size: 38px;
      }

      @include media('<phone') {
        font-size: 25px;
      }
    }

    .content {
      display: flex;
      padding-top: 30px;
      padding: 0 15px;
      margin: auto;
      flex-wrap: wrap;
      justify-content: center;

      @include media('<desktop') {
        padding: 0 10px;
      }
    }
  }
}
