.input_container {
  .form-text {
    display: block;
    // padding-bottom: 14px;
    font-size: 12px;
    color: #838894;
    margin-right: 12px;
  }
  .ant-input-number {
    width: 125px;
  }
  .button {
    background: #3c3e48;
  }
}
