.container {
  position: absolute;
  top: 92px;
  left: 0;
  z-index: 99999;
  display: block;
  width: 174px;
  height: 278px;
  padding: 10px 16px;
  background: white;
  border: 1px solid grey;
  border-radius: 16px;
  .content {
    .label_container {
      display: flex;
      justify-content: space-between;
      .label {
        display: flex;
        align-items: center;
        margin: 0;
        padding-left: 0px;
        color: #838894;
        font-weight: normal;
        font-size: 14px;
        font-style: normal;
        line-height: 160%;
        letter-spacing: 0.5px;
      }
    }
    .count {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 140px;
      height: 48px;
      margin: 0 0px 16px;
      color: #31394d;
      font-weight: normal;
      font-size: 20px;
      border: solid 1px gray;
      border-radius: 10px;
      opacity: 0.8;

      @media (max-width: 768px) {
        margin: 0 8px 10px;
      }

      .button_left {
        display: inline-block;
        flex-grow: 1;
        height: 100%;
        padding: 0;
        background-color: inherit;
        border: none;
        border-right: solid 1px gray;
        border-radius: 10px 0 0 10px;
      }

      .count_text {
        flex-grow: 1;
        min-width: 45px;
        color: #31394d;
        font-weight: normal;
        font-size: 14px;
        font-style: normal;
        line-height: 160%;
        letter-spacing: 0.5px;
        text-align: center;

        opacity: 0.8;
      }

      .button_right {
        display: inline-block;
        flex-grow: 1;
        height: 100%;
        padding: 0;
        background-color: inherit;
        border: none;
        border-left: solid 1px gray;
        border-radius: 0 10px 10px 0;
      }
    }
    .input_wrapper {
      display: flex;
      justify-content: space-between;
      padding: 16px 0 24px 0;
    }
  }
  .discount_green {
    color: #7ad398;
    font-weight: bold;
    font-size: 12px;
  }
  .discount {
    color: #838894;
    font-size: 13px;
  }
}
.hidden {
  display: none;
}
