.container {
  display: flex;
  align-items: center;
  // justify-content: center;

  p {
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #31394d;
    margin: 0;
  }
  .off {
    opacity: 0.4;
  }
}
