h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 112px 50px;
  background: #f5f8fb;
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    padding: 0 10px 170px;
  }
  /* ================= */
  .patch {
    position: relative;
    background: #fbe4e4;
    border-radius: 16px;
    width: 100%;
    max-width: 1008px;
    min-height: 206px;
    margin: 150px auto 100px;
    padding: 54px 106px;

    @media (max-width: 1024px) {
      padding: 54px 20px;
    }

    .header {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      /* or 28px */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;

      color: #31394d;
    }
    .desc {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      text-align: center;
      letter-spacing: 0.5px;
      color: #5a6070;
      margin: 0;
    }
    .bag {
      width: 118px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: -112px;
      z-index: 3;
    }
  }

  .headings {
    width: 100%;
    max-width: 1008px;
    text-align: center;
    margin: 0 auto 104px;

    .sec2head {
      font-family: DM Sans Bold;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 64px;
      margin-bottom: 24px;
      text-align: center;
      letter-spacing: 0.5px;

      color: #31394d;
    }
    .sec2subhead {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      /* identical to box height, or 28px */

      letter-spacing: 0.5px;

      color: #6b6f7a;
    }
  }

  .card_section {
    display: flex;
    justify-content: space-between;

    margin: 0 -57px 100px;
    background: #ffffff;
    border-radius: 16px;
    padding: 96px 72px 88px;
    width: 110%;
    max-width: 1330px;
    @media (max-width: 768px) {
      flex-direction: column;
    }

    .card {
      width: 30%;
      margin-bottom: 112px;

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 70px;
      }
      img {
        width: 100%;
        margin-bottom: 24px;
        border-radius: 16px;
      }
      h2 {
        font-family: DM Sans Bold;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.5px;
        color: #31394d;
        margin-bottom: 14px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0.5px;
        color: #5a6070;
        margin-bottom: 16px;
      }
      a {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #4099ec;
      }
    }
  }
  .faq_heading {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #31394d;
    margin-bottom: 40px;
  }
  .section_faq {
    width: 100%;
    max-width: 1008px;
    background: #ffffff;
    border-radius: 16px;
    margin: 0 auto 150px;
    padding: 10px 32px 32px;
  }

  .bottom_sec {
    position: relative;
    background: url('~assets/images/landings/foodmakers/footer.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: calc(100% + 224px);
    max-width: 1440px;
    height: 502px;
    margin: 0 -112px 72px;

    @media (max-width: 768px) {
      background: url('~assets/images/landings/foodmakers/footer-img-mobile.jpg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: calc(100% + 20px);
      margin: -10px;
    }

    .joincard {
      position: absolute;
      width: 464px;
      min-height: 294px;
      left: 112px;
      top: 104px;
      background: #ffffff;
      border-radius: 16px;
      padding: 40px;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 0.3px;
      color: #333333;

      @media (max-width: 1024px) {
        width: 80%;
        max-width: 464px;
        font-size: 24px;
        left: 30px;
      }
      @media (max-width: 768px) {
        width: 343px;
        top: 360px;
        left: 50%;
        transform: translate(-50%);
        font-size: 20px;
        text-align: center;
      }

      p {
      }

      button {
        width: 100%;
        height: 56px;
        background: #31394d;
        border-radius: 6px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        color: #ffffff;
      }
    }
  }
}

/* =================================== */

.standart_section {
  display: flex;
  padding: 0;
  margin-bottom: 132px;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    width: 100%;
  }
  .description {
    width: 50%;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
      width: 100%;
    }

    .hdr {
      font-family: 'DM Sans Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: 0.5px;
      color: #31394d;
      margin-bottom: 24px;

      @media (max-width: 1024px) {
        font-size: 24px;
        line-height: 48px;
      }

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
      }
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.5px;
      color: #5a6070;
      margin-bottom: 40px;
    }
    .btn {
      width: 240px;
      height: 56px;
      background: #31394d;
      border-radius: 8px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      color: #ffffff;
      border: none;
    }
  }
  .img_container {
    width: 50%;
    margin-left: 24px;
    border-radius: 16px;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
    }
    .img {
      width: 100%;
    }
  }
}

.body_section {
  max-width: 1008px;
  margin: auto;
  display: flex;
  padding: 0;
  margin-bottom: 132px;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    width: 100%;
  }
  .description {
    width: 50%;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
      width: 100%;
    }

    .hdr {
      font-family: 'DM Sans Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 0.3px;
      color: #31394d;
      margin-bottom: 24px;

      @media (max-width: 1024px) {
        font-size: 24px;
        line-height: 48px;
      }

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
      }
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.5px;
      color: #5a6070;
      margin-bottom: 24px;
    }
    .btn {
      width: 240px;
      height: 56px;
      background: #31394d;
      border-radius: 8px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      color: #ffffff;
      border: none;
    }
  }
  .img_container {
    width: 50%;
    margin-left: 24px;
    border-radius: 16px;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
    }
    .img {
      width: 100%;
    }
  }
}

.reverse {
  flex-direction: row-reverse;
  .description {
    margin-right: 0;
    margin-left: 24px;
  }
  .img_container {
    margin-right: 24px;
    margin-left: 0px;
  }
}
