.faq .ant-collapse .ant-collapse-item .ant-collapse-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  letter-spacing: 0.5px;

  color: #31394d;
}

.faq
  .ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  background: #ffffff;
  letter-spacing: 0.5px;

  color: #31394d;

  opacity: 0.8;
}
