.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 1260px;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  @media (max-width: 768px) {
    padding: 20px;
  }
  .info_section {
    width: 50%;
    margin-bottom: 50px;
    @media (max-width: 1024px) {
      width: 100%;
    }
    .header_section {
      padding: 16px 0;
      // font-family: DM Sans Bold;
      font-size: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .bottom_section {
      padding: 16px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .input_section {
      padding: 16px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .content {
        flex-grow: 2;

        .label {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 160%;
          display: flex;
          align-items: center;
          letter-spacing: 0.5px;
          color: #838894;
          margin-bottom: 0;
        }
        .input_wrapper {
          display: flex;
          align-items: center;
          @media (max-width: 640px) {
            flex-direction: column;
            align-items: flex-start;
            flex-grow: 2;
          }
          .input_name {
            max-width: 300px;
            width: 100%;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            display: flex;
            align-items: center;
            letter-spacing: 0.5px;
            color: #3c3e43;
            border: none;
          }
          .verificated {
            margin: 0 0 0px 20px;
            display: flex;
            justify-content: center;
            width: 116px;
            height: 23px;
            background: rgba(122, 211, 152, 0.1);
            border-radius: 6px;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 160%;
            display: flex;
            align-items: center;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #4dc876;
            .check {
              width: 10px;
              height: 10px;
              margin-right: 5px;
            }
          }
        }
        .checklink {
          display: flex;
          justify-content: center;
          width: 260px;
          height: 23px;
          background: rgba(230, 209, 104, 0.2);
          border-radius: 6px;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 160%;
          display: flex;
          align-items: center;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #d7c049;
          .check {
            width: 10px;
            height: 10px;
            margin-right: 5px;
          }
          span {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 160%;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            letter-spacing: 0.5px;
            text-decoration-line: underline;
            color: #5375cb;
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }
      .edit_icon {
        align-self: flex-end;
        margin-bottom: 5px;
        cursor: pointer;

        .edit_btn {
          width: 20px;
        }
      }
      .errmsg {
        margin: 0;
        padding: 0;
        color: #bf1650;
      }

      .errmsg::before {
        display: inline;
        content: '⚠ ';
      }
    }
  }
  .change_section {
    width: 45%;
    @media (max-width: 1024px) {
      width: 100%;
    }

    .header_section {
      padding: 16px 0;
      // font-family: DM Sans Bold;
      font-size: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    form {
      padding-top: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      // font-family: 'DM Sans';
      background: #ffffff;
      border-radius: 16px;
      margin-bottom: 14px;
      /* .form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto; */

      .label {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        display: flex;
        align-items: center;
        letter-spacing: 0.5px;
        color: #838894;
        margin-bottom: 0;
      }

      input {
        display: block;
        position: relative;
        max-width: 396px;
        width: 100%;
        height: 56px;
        padding: 10px 15px;
        margin-bottom: 22px;
        font-size: 14px;
        border: 1px solid #adb0b8;
        box-sizing: border-box;
        backdrop-filter: blur(6px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 8px;
      }

      input[name='password']:focus {
        z-index: 2;
      }

      ::-webkit-input-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder,
      :-moz-placeholder {
        // font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.5px;
        color: #3c3e43;
        opacity: 0.6;
      }

      .psw_wrapper {
        position: relative;
        width: 100%;
        max-width: 396px;
        .psw_eye {
          position: absolute;
          margin: 0;
          z-index: 2;
          right: 24px;
          top: 13px;
          width: 20px;
          height: 20px;
          background: white;
          border-radius: 6px;
          color: white;
          border: none;
          font-size: 24px;
          font-weight: bold;
          line-height: 13px;
          letter-spacing: 1px;
          width: 30px;
          height: 30px;
          text-align: center;
          padding: 0;

          img {
            width: 22px;
            height: 22px;
          }
        }
      }

      p {
        margin: -22px 15px 0;
        color: #bf1650;
      }

      p::before {
        display: inline;
        content: '⚠ ';
      }

      button[type='submit'],
      input[type='submit'] {
        width: 150px;
        background: #31394d;
        border-radius: 6px;
        color: white;
        text-transform: uppercase;
        border: none;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }

      button[type='submit']:hover,
      input[type='submit']:hover {
        opacity: 1;
        cursor: pointer;
      }

      button[type='submit']:active,
      input[type='button']:active,
      input[type='submit']:active {
        transition: 0.1s all;
        transform: translateY(2px);
        border: 1px solid transparent;
        opacity: 1;
      }

      input:disabled {
        opacity: 0.4;
      }

      input[type='button']:hover {
        transition: 0.3s all;
      }

      button[type='submit'],
      input[type='button'],
      input[type='submit'] {
        -webkit-appearance: none;
      }

      button[type='button'] {
        display: block;
        appearance: none;
        background: #333;
        color: white;
        border: none;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 4px;
      }

      button {
        display: block;
        appearance: none;
        margin-top: 40px;
        border: 1px solid #333;

        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 4px;
      }
    }
  }
  .success {
    position: absolute;
    width: 198px;
    height: 37px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0);
    background: rgba(122, 211, 152, 0.1);
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    color: #7ad398;
  }

  .error {
    position: absolute;
    width: 543px;
    height: 37px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 45%;
    background: rgba(235, 87, 105, 0.05);
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    color: #eb5769;
  }
}
