.container {
  width: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 10%;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .img_container {
    text-align: center;
    .img {
      width: 100%;
    }
  }

  .slider_container {
    padding-top: 20px;

    .preview_container {
      padding: 10px;

      .preview_img {
        opacity: 0.4;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

