.headerWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e9eaed;

  .qty {
    width: 10%;
    color: #838894;
    font-size: 12px;
  }

  .price {
    width: 10%;
    color: #838894;
    font-size: 12px;
  }

  .total {
    width: 10%;
    color: #838894;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
  }
}

.rowWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #e9eaed;
  align-items: center;

  .mainInfo {
    width: 70%;
    display: flex;
    align-items: center;
  }

  .qty {
    width: 10%;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #31394d;
  }

  .price {
    width: 10%;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #31394d;
  }

  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #31394d;
  }

  .id {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #5375cb;
  }

  .total {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #31394d;
  }

  .productImage {
    width: 66px;
    height: 66px;
    background: yellow;
    margin: 20px 10px 20px 0;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 0;
  }
}
