.headerWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;

  .qty {
    width: 10%;
    color: #838894;
    font-size: 12px;
  }

  .price {
    width: 10%;
    color: #838894;
    font-size: 12px;
  }

  .total {
    width: 10%;
    color: #838894;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
  }
}

.rowWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid black;
  align-items: center;

  .mainInfo {
    width: 70%;
    display: flex;
    align-items: center;
  }

  .qty {
    width: 10%;
  }

  .price {
    width: 10%;
  }

  .total {
    width: 10%;
    display: flex;
    justify-content: flex-end;
  }

  .productImage {
    width: 66px;
    height: 66px;
    background: yellow;
    margin: 20px 10px 20px 0;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 0;
  }
}
