.slick_experience {
  .slick-arrow:before {
    color: #31394d;
  }
}

.exp-page-input {
  .ant-input-number {
    display: block;
    width: 180px;
    margin-bottom: 22px;
    .ant-input-number-input {
      height: 56px;
    }
  }
}

.booking_btn .ant-btn {
  height: 56px;
  font-weight: 700;
}
