.pe-selects .ant-select {
  width: 200px;
  margin-right: 24px;
  margin-bottom: 22px;

  @media (max-width: 768px) {
    width: 120px;
  }
}

.pe-selects .ant-select .ant-select-selector span {
  display: block;
  width: 200px;
}

.pe-selects .ant-select .ant-select-arrow {
  top: 50%;
}

.range {
}
