.container {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  width: 70%;
  padding: 12px;
  background: #f5f8fb;
  border-radius: 8px;
  margin: 16px;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
  .local_avatar_info {
    display: flex;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;

    .local_avatar_box {
      margin-right: 15px;
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .text_container {
    flex-grow: 2;
    .info_container {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
      .local_name {
        max-height: 40px;
        overflow: hidden;
        font-weight: bold;
        font-size: 14px;
        color: #3c3e43;
        margin-right: 5px;
      }
      .last_date {
        font-size: 12px;
        letter-spacing: 0.5px;
        color: #838894;
      }
    }
    .text_msg {
      font-size: 14px;
      letter-spacing: 0.5px;
      color: #838894;
    }
  }
}
