.container {
  background: #f5f8fb;

  .heading {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.3px;
    color: #31394d;
    padding: 0 50px;
  }
}
