.container {
  .page_header {
    padding: 80px 0 140px;
    margin: 0 0 20px;
    background-color: #31394d;

    color: white;
    position: relative;

    &:before {
      content: ' ';
      position: absolute;
      bottom: -13px;
      left: 0;
      width: 100vw;
      height: 13px;

      background: url(../../assets/images/bg-head.png) 50% 100%;
      background-size: 100% 100%;
    }

    &:after {
      content: ' ';
      position: absolute;
      width: 708px;
      height: 668px;
      bottom: 0;
      left: -80px;
      background: url(../../assets/images/pattern.svg) no-repeat 50% 5%;
      background-size: 100% 100%;
    }

    .header_content {
      width: 100%;
      max-width: 1230px;
      margin: auto;
      padding: 0 15px;
      position: relative;
      z-index: 2;
      color: #fff;

      h1 {
        font-size: 56px;
        text-align: center;
        letter-spacing: 0.02em;

        color: #fff;
        font-weight: bold;
        margin: 0;

        mark {
          color: #cc727b;
          background: none;
        }
      }

      .slogan {
        font-weight: normal;
        font-size: 28px;
        text-align: center;
        margin: 0 0 20px;
      }

      .search_block {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 -16px;

        .input_wrapper {
          position: relative;
          padding: 0 16px;

          // &:first-child {
          //   width: 50%;
          // }

          &:last-child {
            display: flex;
            align-items: center;
          }

          .label {
            font-weight: normal;
            font-size: 14px;
            display: flex;
            align-items: center;
            letter-spacing: 0.07em;
            color: #dcdde1;
            margin: 5px 0;
          }

          .input[type='text'] {
            display: block;
            position: relative;
            height: 56px;
            padding: 16px;
            font-weight: normal;
            font-size: 16px;
            color: #31394d;
            background: #f4f7fa;
            border-radius: 8px;
            border: none;
            width: 100%;
            min-width: 176px;
            line-height: 28px;
            cursor: pointer;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          .typesWrapper {
            position: absolute;
            top: 110%;
            background: white;
            color: #31394d;
            width: 87%;
            border-radius: 10px;
            padding: 7px 45px 5px 0px;
            div {
              margin: 0px 5px 5px 10px;
              cursor: pointer;
              opacity: 0.8;
              &:hover {
                opacity: 1;
              }
            }
          }

          .categoriesWrapper {
            position: absolute;
            top: 110%;
            background: white;
            color: #31394d;
            border-radius: 10px;
            border: 1px solid black;
            padding: 5px 0px 5px 0px;
            width: 94%;

            div {
              margin: 0px 5px 5px 10px;
              cursor: pointer;
              opacity: 0.8;
              &:hover {
                opacity: 1;
              }
            }
          }

          .btn_button {
            width: 72px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            border: none;
            background: #fbe4e4;
            border-radius: 8px;
          }
        }

        .input_text {
          font-weight: normal;
          font-size: 12px;
          color: #ffffff63;
          margin: 8px 0 0;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  .content {
    width: 100%;
    max-width: 1314px;
    margin: auto;
    padding: 80px 20px;

    .exp_section {
      display: flex;
      flex-wrap: wrap;

      .btn_holder {
        padding: 38px 0 20px;
        display: flex;
        justify-content: center;
        width: 100%;

        button {
          background: none;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #31394d;
          border: 2px solid rgba(49, 57, 77, 0.2);
          border-radius: 6px;
          min-width: 160px;
          padding: 11px 20px;
        }
      }
    }
    .product_section {
      display: flex;
      flex-wrap: wrap;
      background-color: #f4f7fa;
    }
    .lessons_section {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .faq_container {
    background-color: #f4f7fa;
    padding: 100px 0;

    .faq_heading {
      font-weight: bold;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #31394d;
      margin-bottom: 40px;
      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        letter-spacing: 0.3px;
        margin: 0 20px 32px;
      }
    }
    .section_faq {
      width: 100%;
      max-width: 1008px;
      background: #ffffff;
      border-radius: 16px;
      margin: 0 auto 150px;
      padding: 10px 32px 32px;
    }
  }
}
