.list_container {
  position: relative;
  min-height: 200px;
  .btn_container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    @media (max-width: 768px) {
      position: static;
      margin: 20px auto;
    }
  }
}
