.product-tabs .ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 0;
}

.product-tabs .ant-tabs-tab {
  
}

.product-tabs .ant-tabs .ant-tabs-content-holder {
  padding: 16px;
}

.product-tabs .ant-tabs-card > .ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;

  .ant-tabs-tab {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    display: block;
    color: #31394d;
    opacity: 0.4;
    border-radius: 16px 16px 0 0 !important;
    padding: 10px 28px;
    font-size: 12px;
    border: none;
  }

  .ant-tabs-tab-active {
    opacity: 1;
  }

  .ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: bold;
  }
}
