.product-tabs .ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 0;
}

.product-tabs .ant-tabs .ant-tabs-nav-more  {
  display: none;
}

.product-tabs .ant-tabs .ant-tabs-content-holder {
  padding: 16px;
}

.product-tabs .ant-tabs-card > .ant-tabs-nav .ant-tabs-nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .ant-tabs-tab {
    display: block;
    flex-grow: 1;
    padding: 10px 28px;
    color: #31394d;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border: none;
    border-radius: 16px 16px 0 0 !important;
    opacity: 0.4;
  }

  .ant-tabs-tab-active {
    opacity: 1;
  }

  .ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: bold;
  }
}
