.selects .ant-select {
  width: 200px;
  margin-right: 24px;

  @media (max-width: 768px) {
    width: 120px;
  }
}

.selects .ant-select .ant-select-selector span {
  display: block;
  width: 200px;
}

.selects .ant-select .ant-select-arrow {
  top: 50%;
}

// ===============================================

.discount .ant-select {
  width: 100px;
  margin: 0 24px;

  @media (max-width: 768px) {
    width: 120px;
  }
}

.discount .ant-select .ant-select-selector span {
  display: block;
  width: 100px;
}

.discount .ant-select .ant-select-arrow {
  top: 50%;
}
