.selects .ant-select {
  width: 200px;
  margin-right: 24px;

  @media (max-width: 768px) {
    width: 120px;
  }
}

.selects .ant-select .ant-select-selector {
  height: 56px;
  // padding: auto;
}

.selects .ant-select .ant-select-selector span {
  display: block;
  width: 200px;
  height: 56px;
  padding: 12px;
  margin-bottom: 20px;
}

.selects .ant-select .ant-select-arrow {
  top: 50%;
}

// ===============================================

.discount .ant-select {
  width: 100px;
  margin: 0 24px;

  @media (max-width: 768px) {
    width: 120px;
  }
}

.discount .ant-select .ant-select-selector {
  height: 56px;
  // padding: auto;
}

.discount .ant-select .ant-select-selector span {
  display: block;
  width: 100px;
  height: 56px;
  padding: 12px;
  margin-bottom: 20px;
}

.discount .ant-select .ant-select-arrow {
  top: 50%;
}
