.universal_modal {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 480px) {
    justify-content: flex-end;
  }

  &__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;

    &_dark {
      opacity: 0.6;
    }
  }

  .universal_modal__container {
    max-width: 90vw;
    opacity: 0;
    position: relative;
    background: transparent;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    transition: opacity 0.3s;
    @media (max-width: 480px) {
      // top: 25%;
      max-width: 100vw;
      width: 100%;
      border-radius: 16px 16px 0 0;
      padding-bottom: 50px;
    }

    &_opacity {
      opacity: 1;
    }

    .swipe_anchor {
      display: none;
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 108px;
      height: 3px;
      border-radius: 3.5px;
      background-color: #e0e2e5;
      z-index: 10;
      @media (max-width: 480px) {
        display: block;
      }
    }
    .spacer {
      width: 100%;
      height: 100px;
      background-color: white;
      display: none;
      @media (max-width: 480px) {
        display: block;
      }
    }
  }
}
