@import 'styles/styles.scss';

.wrapper {
  min-height: 60vh;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 20px 30px 30px;

    @include media('<tablet') {
      padding: 0 20px;
    }
    @include media('<phone') {
      padding: 0 10px;
    }
  }
}
