.wrapper {
  min-height: 60vh;
  // background: #f5f8fb;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 20px 30px 30px;

    @media (max-width: 1024px) {
      padding: 20px 10px 30px;
    }
  }
}
