.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 16px;
    margin-bottom: 0px;

    .input_wrapper {
      position: relative;

      .psw_eye {
        position: absolute;
        right: 70px;
        top: 21px;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 6px;
        color: white;
        border: none;
        font-size: 24px;
        font-weight: bold;
        line-height: 13px;
        letter-spacing: 1px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 0;

        img {
          width: 22px;
          height: 22px;
        }
      }

      input {
        display: block;
        width: 396px;
        height: 72px;
        padding: 10px 24px;
        margin-bottom: 22px;
        font-size: 22px;
        border: 2px solid #31394d;
        box-sizing: border-box;
        backdrop-filter: blur(6px);
        border-radius: 8px;
        background-color: #fbe4e4;
        &:focus {
          background-color: white;
          border: none;
        }
        @media (max-width: 420px) {
          width: 343px;
        }
      }

      input[type='submit'] {
        position: absolute;
        right: 24px;
        top: 21px;
        width: 20px;
        height: 20px;
        background: #31394d;
        border-radius: 6px;
        color: white;
        border: none;
        font-size: 24px;
        font-weight: bold;
        line-height: 13px;
        letter-spacing: 1px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 0 10px;
      }

      input[type='submit']:hover {
        opacity: 1;
        cursor: pointer;
      }

      input:disabled {
        opacity: 0.4;
      }

      button[type='submit'],
      input[type='button'],
      input[type='submit'] {
        -webkit-appearance: none;
      }

      p {
        margin: -22px 15px 0;
        color: #bf1650;
      }

      p::before {
        display: inline;
        content: '⚠ ';
      }
    }
  }
  .valid_block {
    width: 200px;
    margin: auto;

    .valid {
      display: flex;
      .show {
        display: block;
      }
      .hide {
        display: none;
      }
      .icon {
        width: 10px;
        height: 10px;
        margin: 4px 10px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.5px;
        color: #3c3e43;
        opacity: 0.8;
        margin-bottom: 0px;
      }
    }
  }
}
