.container {
  padding: 20px 50px;

  .sort_block {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
  }
  .th {
    border-bottom: 1px solid #f4f4f4;
    display: table-cell;
    padding: 0 0 5px;

    @media screen and (max-width: 768px) {
      display: block;
      border-top: 1px solid #f4f4f4;
    }
  }
}
