.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  .shopTitle {
    margin-right: 20px;
    color: #3c3e43;
    font-size: 32px;
  }

  button {
    text-decoration: none;
    background: white;
    border: 2px solid #e9eaed;
    border-radius: 4px;
    padding: 2px 30px 2px 30px;
  }
}
