.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 25px;
  padding: 30px;
  background: #f5f8fb;
  border-radius: 16px;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
  }
  .closeIcon {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  .productWrapper {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin-right: 10px;
    @media (max-width: 1024px) {
      width: 100%;
    }
    .productImage {
      position: relative;
      width: 86px;
      height: 86px;
      margin-right: 20px;
      overflow: hidden;
      background-position: 50% 0;
      background-size: cover;
      border-radius: 12px;
    }

    .productInfo {
      display: flex;
      flex-direction: column;
      @media (max-width: 1024px) {
        justify-content: center;
      }

      .pendingText {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
        color: #31394d;
        font-weight: bold;
        font-size: 10px;
        line-height: 13px;
        white-space: nowrap;
        text-transform: capitalize;
        background: #fbe4e4;
        border-radius: 6px;
      }

      .productTitle {
        color: #31394d;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
      }
    }
  }

  .reviewWrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    @media (max-width: 1024px) {
      width: 100%;
      margin-bottom: 10px;
    }

    .reviewHeader {
      margin-bottom: 10px;
      color: hsl(222, 7%, 55%);
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 0.5px;
    }
    .reviewInputWrapper {
      width: 100%;
      margin-bottom: 10px;
      padding: 20px;
      background: #ffffff;
      border: 2px solid #31394d;
      border-radius: 8px;

      .reviewTextArea {
        width: 100%;
        height: 128px;
        margin-bottom: 10px;
        overflow: hidden;
        color: #31394d;
        line-height: 24px;
        border: none;
        opacity: 0.8;
        resize: none;
      }
      .imageSection {
        .addPhotosButton {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25%;
          padding: 10px;
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;
          white-space: nowrap;
          text-transform: uppercase;
          border: 2px solid #b1b6c2;
          border-radius: 6px;
          cursor: pointer;
        }
      }
    }
    .reviewInfo {
      display: flex;
      margin-bottom: 10px;

      @media (max-width: 1240px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .rateWrapper {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        @media (max-width: 1240px) {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          margin-bottom: 10px;
        }

        .starsWrapper {
          width: 50%;
          @media (max-width: 1024px) {
            width: 100%;
          }
        }
      }
      .recommendWrapper {
        display: flex;

        @media (max-width: 400px) {
          flex-direction: column;
        }

        .title {
          margin-right: 10px;
          white-space: nowrap;
        }

        .option {
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
    .submitButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35%;
      padding: 20px;
      color: #ffffff;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      background: #31394d;
      border-radius: 6px;
      cursor: pointer;
    }

    .submitButtonError {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35%;
      padding: 20px;
      color: #0e0d0d;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      background: #a1a1a1;
      border-radius: 6px;
    }
  }
}
