.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  .mainOrderInfo {
    display: flex;
    flex-direction: row;

    .info {
      margin-right: 40px;

      .option {
        margin-bottom: 7px;
        font-size: 12px;
        color: #838894;
      }

      .text {
        font-size: 14px;
        font-weight: bold;
        color: #31394d;
      }

      .id {
        color: #5375cb;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .invoice {
    font-size: 14px;
    color: #5375cb;
  }
}
