.container {
  width: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 10%;
  border-radius: 16px;

  @media (max-width: 1024px) {
    width: 100%;
    // padding-left: 10%;
    // padding-right: 10%;
    padding-right: 0;
  }

  .img_container {
    text-align: center;
    .img {
      width: 100%;
    }
  }

  .slider_container {
    padding-top: 20px;

    .preview_container {
      border-radius: 16px;
      padding: 10px;
      overflow: hidden;

      .preview_img_clear {
        opacity: 1;
        cursor: pointer;
      }
      .preview_img {
        opacity: 0.4;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
