.container {
  display: flex;
  padding: 35px 0;
  border-bottom: 1px solid #dcdde1;
  @media (max-width: 768px) {
    padding: 20px 0;
  }

  .columnsWrapper {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;

    .time {
      width: 10%;
      min-width: 75px;
      display: flex;
      flex-direction: column;
    }

    .id {
      width: 10%;
      min-width: 70px;
      color: #5375cb;
    }

    .items {
      width: 10%;
      min-width: 60px;
    }

    .amount {
      width: 10%;
      min-width: 65px;
    }

    .delivery {
      width: 10%;
      min-width: 70px;
    }

    .status {
      width: 10%;
      min-width: 60px;
      color: #7ad398;
    }
  }

  .lastSection {
    display: flex;
    justify-content: flex-end;
    width: 25%;

    button {
      text-decoration: none;
      width: 60px;
      border: 2px solid #dcdde1;
      background: white;
      border-radius: 5px;
      font-size: 17px;
      color: #31394d;

      &:hover {
        border-color: #31394d;
      }
    }
  }
}
