.exp_selects .ant-select {
  margin-bottom: 22px;
  .ant-select-selector {
    min-height: 56px;
  }
}

.exp-input_number {
  .ant-input-number {
    margin-bottom: 22px;
    width: 150px;
    .ant-input-number-input {
      height: 56px;
    }
  }
}

.exp-slider {
  .ant-tooltip {
    .ant-tooltip-content {
      .ant-tooltip-inner {
        background-color: white;
      }
    }
  }
}
