.exp_selects .ant-select {
  margin-bottom: 22px;
  .ant-select-selector {
    min-height: 56px;
  }
}

.exp-input_number {
  .ant-input-number {
    width: 150px;
    margin-bottom: 22px;
    .ant-input-number-input {
      height: 56px;
    }
  }
}

.ant-tooltip {
  z-index: 1000;
  .ant-tooltip-content {
    .ant-tooltip-inner {
    }
  }
}
