.container {
  background: #f5f8fb;

  .heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.07em;
    color: #31394d;
    padding: 15px 50px 0;

    @media screen and (max-width: 1400px) {
      font-size: 25px;
      padding: 15px 15px 0;
    }

    @media screen and (max-width: 768px) {
      font-size: 22px;
    }

    @media screen and (max-width: 480px) {
      font-size: 18px;
    }
  }
}
