.container {
  display: flex;
  align-items: center;
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #31394d;
  }
  .off {
    opacity: 0.4;
  }
}
