.collapse .ant-collapse {
  width: 300px;
  margin-bottom: 16px;
  border: none;
}

.collapse .ant-collapse .ant-collapse-item .ant-collapse-header {
  background-color: transparent;
  font-weight: bold;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 56px;
}
.collapse .ant-collapse .ant-collapse-item .ant-collapse-content {
  // background-color: #fbe4e4;
  background-color: transparent;
}
