.add_form {
  .form-text {
    display: block;
    // padding-bottom: 14px;
    font-size: 12px;
    color: #838894;
  }
  .numeric_selector {
    display: flex;
    width: 150px;
    margin-right: 30px;
    .ant-form-item {
      margin: 0;
    }
    .ant-input-number {
      border-radius: 6px 0 0 6px;
      .ant-input-number-input {
      }
    }
    .ant-select .ant-select-selector {
      border-radius: 0 6px 6px 0;
      border-left: none;
    }
  }
  .ant-form
    .ant-row
    .ant-col
    .ant-form-item-control-input
    .ant-form-item-control-input-content
    .ant-btn {
    height: 56px;
    width: 160px;

    .add_btn {
      /* .ant-row {
    .ant-col {
      .ant-form-item-control-input {
        .ant-form-item-control-input-content { */
      .ant_btn {
        width: 80px;
        height: 40px;
      }
      /*       }
      }
    }
  } */
    }
  }
}
