.container {
  display: flex;
  flex-direction: column;
  background: white;
  margin-bottom: 30px;
  border-radius: 16px;
}

.headingWrapper {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  order: 0;
  @media (max-width: 1024px) {
    order: 0;
  }

  .shopName {
    font-size: 32px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #3c3e43;
    margin-right: 20px;

    p {
      text-transform: lowercase;
      margin: 0;
    }

    p:first-letter {
      text-transform: uppercase;
    }
  }

  .shopButton {
    background: white;
    color: #31394d;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 30px;
    border-radius: 8px;
    border: 1px solid gray;
    cursor: pointer;
  }
}

.progress {
  display: block;
  @media (max-width: 1024px) {
    display: none;
  }
}
.informationWrapper {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between;
  order: 2;
  @media (max-width: 1024px) {
    order: 1;
  }

  .orderDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .textWrapper {
    margin-right: 20px;
    margin-bottom: 0px;

    .regularText {
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #838894;

      .mainAmount {
        font-weight: 500;
        color: #31394d;
      }

      .secondaryAmount {
        color: #31394d;
      }

      .deliveryType {
        font-weight: bold;
        color: #5375cb;
        cursor: pointer;
      }

      .freeShipping {
        color: #7ad398;
      }
    }

    .amountLoader {
      background: #838894;
      height: 2px;
      border-radius: 2px;
      width: 100%;
      margin-bottom: -2px;

      .amountLoaderWidth {
        height: 100%;
        background: #7ad398;
      }
    }
  }

  .policyText {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #838894;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}
