.container {
  padding: 16px;
  min-height: 320px;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #31394D81;

  p {
    margin: 0;
  }

  .additional_info {
    span {
      font-weight: bold;
    }
  }
}
