.container {
  display: flex;
  padding: 10px 10px 30px;

  @media screen and (max-width:768px) {
    padding: 4px 0 14px;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width:480px) {
      
    }

    .title {
      display: flex;
      font-weight: normal;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 0.3px;
      color: #31394d;
      margin: 0 8px 0 0;

      @media screen and (max-width:768px) {
        font-size: 20px;
        letter-spacing: 0.08em;
      }

      @media screen and (max-width:480px) {
        width: 100%;
      }

      p {
        margin-bottom: 0;
      }

      .extra_mark {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.5px;
        color: #31394d;
        opacity: 0.8;
      }
    }
    .srch_block {
      display: flex;

      @media screen and (max-width:480px) {
        justify-content: space-between;
        width: 100%;
      }

      a{
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background: #31394D;
        border-radius: 8px;
        padding: 15px;
        display: block;
        width: 100%;
        margin-left: 30px;
        flex-grow: 1;
        min-width: 197px;

        @media screen and (max-width:768px) {
          min-width: 50px;
          padding: 15px 12px;
        }

        span{
          @media screen and (max-width:768px) {
            display: none;
          }
        }
      }
    }
  }
}
