.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  background: #ffffff;
  position: relative;

  .header {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #31394d;
    max-width: 394px;
  }
  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #3c3e43;
    opacity: 0.8;
    max-width: 399px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: #ffffff;
    border-radius: 16px;
    // margin-bottom: 14px;

    input {
      display: block;
      position: relative;
      width: 396px;
      height: 56px;
      padding: 10px 15px;
      margin-bottom: 22px;
      font-size: 14px;
      border: 2px solid #adb0b8;
      box-sizing: border-box;
      backdrop-filter: blur(6px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 8px;
      @media (max-width: 420px) {
        width: 320px;
      }
    }

    input[name='password']:focus {
      z-index: 2;
    }

    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    :-moz-placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.5px;
      color: #393644;
      opacity: 0.6;
    }

    p {
      margin: -22px 15px 0;
      color: #bf1650;
    }

    p::before {
      display: inline;
      content: '⚠ ';
    }

    button[type='submit'],
    input[type='submit'] {
      background: #31394d;
      border-radius: 6px;
      color: white;
      text-transform: uppercase;
      border: none;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    button[type='submit']:hover,
    input[type='submit']:hover {
      opacity: 1;
      cursor: pointer;
    }

    button[type='submit']:active,
    input[type='button']:active,
    input[type='submit']:active {
      transition: 0.1s all;
      transform: translateY(2px);
      border: 1px solid transparent;
      opacity: 1;
    }

    input:disabled {
      opacity: 0.4;
    }

    input[type='button']:hover {
      transition: 0.3s all;
    }

    button[type='submit'],
    input[type='button'],
    input[type='submit'] {
      -webkit-appearance: none;
    }

    button[type='button'] {
      display: block;
      appearance: none;
      background: #333;
      color: white;
      border: none;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 4px;
    }

    button {
      display: block;
      appearance: none;
      margin-top: 40px;
      border: 1px solid #333;

      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 4px;
    }
  }
}
