.content {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 90px;
  margin: 0 auto;
  width: 100%;
  max-width: 1260px;
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px 10px 90px;
  }
}

.order_chat {
  padding-top: 100px;
}
