.wrapper {
  display: flex;
  width: 100%;
  margin: 30px 0 30px;
  padding: 10px 20px;
  border: 1px solid #b4b4b4;
  border-radius: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .expWrapper {
    display: flex;
    align-items: flex-start;
    width: 30%;

    .imgWrapper {
      position: relative;
      width: 66px;
      height: 66px;
      margin-right: 20px;
      overflow: hidden;
      background-position: 50% 0;
      background-size: cover;
      border-radius: 12px;
    }

    .titleWrapper {
      color: #3c3e43;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.5px;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .reviewWrapper {
    flex-direction: column;
    width: 70%;

    @media (max-width: 768px) {
      width: 100%;
    }

    .reviewInfoWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;

      .reviewPeople {
        display: flex;
        align-items: baseline;

        .adult {
          width: 15px;
          height: 15px;
        }

        .child {
          margin-left: 10px;
        }
      }

      .reviewDate {
        color: #31394d;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.5px;
        opacity: 0.6;
      }
    }

    .reviewText {
      margin-bottom: 10px;
      color: #31394d;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.5px;
      opacity: 0.8;
    }

    .reviewData {
      display: flex;
      width: 100%;
      @media (max-width: 1200px) {
        flex-direction: column;
      }

      .imgContainer {
        display: flex;
        width: 40%;

        @media (max-width: 1200px) {
          width: 100%;
          margin-bottom: 10px;
        }

        div {
          width: 56px;
          height: 56px;
          margin-right: 7px;
          overflow: hidden;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          border-radius: 6px;
        }
      }

      .ratesContainer {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        @media (max-width: 1200px) {
          width: 100%;
          margin-bottom: 10px;
        }
        @media (max-width: 768px) {
          flex-direction: column;
        }
        .reviewRate {
          display: flex;
          align-items: baseline;
          width: 50%;

          @media (max-width: 768px) {
            width: 100%;
          }

          p {
            display: flex;
            align-items: center;
            margin-left: 2px;
            color: #838894;
            font-size: 12px;
            line-height: 19px;
            letter-spacing: 0.5px;

            @media (max-width: 768px) {
              margin-left: 7px;
            }
          }
        }
      }
    }
  }
}
