@import 'styles/core/_colors.scss';

.header {
  background: #f4f7fa;

  &.dark {
    color: #f4f7fa;
    background: $black;
  }

  &.light {
    color: #31394d;
    background: #f4f7fa;

    .nav__opener {
      display: none !important;
    }
  }
}

.container {
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 29px 20px;

  @media (max-width: 768px) {
    justify-content: space-between;
    padding: 25px 20px;
    border: none;
  }

  .menu_btn {
    display: none;
    width: 16px;
    padding: 0 20px 0 0px;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (max-width: 768px) {
      flex-shrink: 0;
    }

    .logo_img {
      width: 60px;
      height: 45px;
      margin-right: 10px;

      @media (max-width: 768px) {
        margin-left: 30px;
      }

      @media (max-width: 376px) {
        margin-left: 15px;
      }
    }
    .logo_text {
      width: 155px;
      margin: 0 0 -14px;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  .menu {
    display: flex;
    flex-grow: 3;
    margin: 0px;
    padding: 10px;
    transition: opacity 0.3s;

    @media (max-width: 1024px) {
      margin: 0px;
    }

    @media (max-width: 768px) {
      display: none;
    }

    .menuitem {
      display: flex;
      align-items: center;
      margin: 0 0 0 32px;
      padding: 3px 10px;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 1px;
      white-space: nowrap;
      text-align: right;
      text-transform: uppercase;
      list-style: none;
      cursor: pointer;

      @media (max-width: 1024px) {
        margin: 0 0 0 10px;
      }

      svg {
        margin-left: 8px;
      }
    }
  }

  .off {
    display: flex;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .options {
    display: flex;
    justify-content: flex-end;
    margin: 0 40px 0 0;

    @media (max-width: 768px) {
      flex-grow: 3;
      margin-left: 0;
    }
    @media (max-width: 375px) {
      margin: 0 30px 0 0;
      padding-left: 10px;
    }

    .hide {
      display: inline-block;
      @media (max-width: 768px) {
        display: none;
      }
    }

    li {
      margin: 0;
      padding: 3px 18px;
      line-height: 0;
      list-style: none;
      cursor: pointer;

      .basketAmount {
        position: absolute;
        top: 2px;
        right: -21px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 14px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        background: #f16071;
        border-radius: 3px;
      }

      @media (max-width: 768px) {
        padding: 3px 10px;
      }

      img {
        width: 19px;
        height: 19px;
      }
    }
  }

  .signin {
    .avatar_container {
      display: flex;
      align-items: center;
      cursor: pointer;

      .arrow {
        width: 26px;
        height: 22px;
        margin: 0 0 0 7px;
        padding: 7px;
        transition: transform 200ms ease-out;
      }
      .arrow_up {
        transform: rotate(-180deg);
      }
    }
    a {
      flex-shrink: 0;
      color: inherit;
      font-weight: bold;
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 1px;
      text-align: right;
      text-transform: uppercase;
    }
    p {
      flex-shrink: 0;
      margin: 0;
      font-weight: bold;
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 1px;
      text-align: right;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .settings_container {
    position: absolute;
    top: 90px;
    right: 30px;
    width: 264px;
    padding: 5px 24px;
    color: #838894;
    font-size: 12px;
    letter-spacing: 1px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .link_list {
      margin: 0 0 18px;
      padding: 10px 0;
      color: #31394d;
      text-transform: uppercase;
      list-style: none;
      border-bottom: 1px solid #d8d8d8a6;

      &:last-child {
        margin: 0;
        padding-top: 0;
        border: none;
      }

      li {
        display: flex;
        align-items: center;
        padding: 0;
        cursor: pointer;
        .link {
          margin-left: 0;
        }
      }

      a {
        margin-left: 15px;
        padding: 10px 0;
        font-weight: bold;
      }

      .logout_btn {
        letter-spacing: 2px;
      }
    }

    p {
      margin: 0;
    }
  }
}
