.page_header {
  padding: 80px 0 140px; 
  margin: 0 0 20px;
  background-color: #31394d;
 
  color: white;
  position: relative;

  &:before{
    content: " ";
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 100vw;
    height: 13px;

    background: url(../../assets/images/bg-head.png) 50% 100%;
    background-size: 100% 100%;
  }

  &:after{
    content: " ";
    position: absolute;
    width: 708px;
    height: 668px;
    bottom: 0;
    left: -80px;
    background: url(../../assets/images/pattern.svg) no-repeat 50% 5%;
    background-size: 100% 100%;
  }

  .header_content {
    width: 100%;
    max-width: 1230px;
    margin: auto;
    padding: 0 15px;
    position: relative;
    z-index: 2;
    color: #fff;

    h1{
      font-size: 56px;
      text-align: center;
      letter-spacing: 0.02em;

      color: #fff;
      font-weight: bold;
      margin: 0;

      @media (max-width: 768px) {
        font-size: 32px;
        margin-bottom: 64px;
      }

      mark{
        color: #eb5769;
        background: none;
      }
    }

    .slogan{
      font-weight: normal;
      font-size: 28px;
      text-align: center;
      margin: 0 0 20px;
    }

    .search_block {
      display: flex;
      justify-content: space-between;
      // align-items: flex-end;
      margin: 0 -16px;

      .input_wrapper {
        padding: 0 16px;

        &:first-child{
          width: 100%;
        }

        &:last-child{
          display: flex;
          align-items: center;
        }

        .label {
          font-weight: normal;
          font-size: 14px;
          display: flex;
          align-items: center;
          letter-spacing: 0.07em;
          color: #DCDDE1;
          margin: 5px 0;
        }

        .input[type='text'] {
          display: block;
          position: relative;
          height: 56px;
          padding: 16px;
          font-weight: normal;
          font-size: 16px;
          color: #31394d;
          border-radius: 8px;
          border: none;
          width: 100%;
          min-width: 176px;
        }

        .btn_button {
          width: 72px;
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          border: none;
          background: #fbe4e4;
          border-radius: 8px;
          transition: .5s ease all;

          &:hover {
            opacity: 0.8;
          }
          @media (max-width: 768px) {
            width: 120px;
          }
        }
      }

      .input_text{
        font-weight: normal;
        font-size: 12px;
        color: #FFFFFF63;
        margin: 8px 0 3px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.container {
 
  .content {
    width: 100%;
    max-width: 1314px;
    margin: auto;
    padding: 80px 20px;

    .exp_section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .product_section {
      display: flex;
      flex-wrap: wrap;
      background: #f4f7fa;
    }
    .lessons_section {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .faq_container {
    background: #f4f7fa;
    padding: 100px 0;
    .faq_heading {
      font-weight: bold;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #31394d;
      margin-bottom: 40px;
      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        letter-spacing: 0.3px;
        margin: 0 20px 32px;
      }
    }
    .section_faq {
      width: 100%;
      max-width: 1008px;
      background: #fff;
      border-radius: 16px;
      margin: 0 auto 150px;
      padding: 10px 32px 32px;
    }
  }
}
