.container {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  @media (max-width: 768px) {
    padding: 18px;
  }

  .content {
    margin-bottom: 50px;
    width: 100%;
    @media (max-width: 900px) {
    }

    .head {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 0.3px;
      color: #31394d;
    }

    .avatar_container {
      width: 100%;
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 32px;
      margin-bottom: 40px;
      .loader_wrapper {
        width: 160px;
        margin-left: 24px;
      }
    }

    // DATA SECTION

    .data_section {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1024px) {
        flex-direction: column;
      }

      .label {
        display: block;
        padding-bottom: 8px;
        font-size: 12px;
        color: #838894;
      }

      .profile_section {
        width: 45%;
        margin-bottom: 50px;
        @media (max-width: 1024px) {
          width: 100%;
        }

        .user_data {
          display: flex;
          justify-content: flex-start;
          padding: 30px 0;
          @media (max-width: 768px) {
            flex-direction: column;
          }
          .refer {
            display: flex;
            flex-direction: column;
            width: 116px;
            margin-right: 32px;
          }
          .first_name,
          .last_name {
            width: 198px;
          }
          .first_name {
            margin-right: 32px;
          }
        }
        .about {
          margin-bottom: 32px;
          height: 188px;
        }
        .service_tags {
        }
      }

      .gallery_section {
        width: 45%;
        margin-bottom: 50px;
        @media (max-width: 1024px) {
          width: 100%;
        }
        .profile_url {
          padding: 30px 0;

          .profile_data {
            display: flex;
            align-items: flex-end;
            padding-bottom: 24px;
            .url_name {
              margin-right: 24px;
            }
            .qr {
              display: flex;
              .qr_wrapper {
                margin-right: 8px;
                .qr_img {
                  width: 48px;
                  height: 48px;
                }
              }
              .qr_link {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .link_link {
                  color: blue;
                  text-decoration: underline;
                }
              }
            }
          }
        }

        .gallery_container {
          margin-bottom: 14px;
        }
        .lang_tags {
        }
      }
    }
    .success {
      // position: absolute;
      width: 198px;
      height: 37px;
      // left: 0;
      // bottom: 0;
      background: rgba(122, 211, 152, 0.1);
      border-radius: 6px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 160%;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.5px;
      color: #7ad398;
      margin: 20px 0;
    }
  }
}
