#uploader_fm
  .ant-upload-picture-card-wrapper
  .ant-upload-list-picture-card
  .ant-upload-select-picture-card {
  width: 120px;
  height: 120px;
  border: 2px solid #31394d;
  border-radius: 8px;
}

#uploader_fm
  .ant-upload-picture-card-wrapper
  .ant-upload-list-picture-card
  .ant-upload-list-picture-card-container
  .ant-upload-list-item-uploading {
  width: 120px;
  height: 120px;
  border: 2px solid #31394d;
  border-radius: 8px;
}

#uploader_fm
  .ant-upload-picture-card-wrapper
  .ant-upload-list-picture-card
  .ant-upload-list-picture-card-container
  .ant-upload-list-item-done {
  width: 120px;
  height: 120px;
  border: 2px solid #31394d;
  border-radius: 8px;
}

#uploader_fm .ant-upload-picture-card-wrapper {
  max-width: 150px;
}

.input_number .ant-input-number {
  width: 144px;
  border-radius: 8px;
}
