#stepper .ant-steps .ant-steps-item-process .ant-steps-item-container {
  .ant-steps-item-content .ant-steps-item-title {
    color: #31394d;
    font-size: 12px;
    line-height: 1.9;
  }

  .ant-steps-item-icon {
    /*     width: 14px;
    height: 14px;
    top: -6px; */
    .ant-steps-icon {
      .ant-steps-icon-dot {
        border: 2px solid #31394d;
        background-color: white;
      }
    }
  }
}

#stepper .ant-steps .ant-steps-item-wait .ant-steps-item-container {
  .ant-steps-item-content .ant-steps-item-title {
    color: #adb0b8;
    font-size: 12px;
    line-height: 1.9;
  }
  .ant-steps-item-icon {
    /*  width: 10px;
    height: 10px;
    top: -6px; */
    .ant-steps-icon .ant-steps-icon-dot {
      border: 2px solid #adb0b8;
      background-color: white;
    }
  }
}

#stepper .ant-steps .ant-steps-item-finish .ant-steps-item-container {
  .ant-steps-item-content .ant-steps-item-title {
    font-size: 12px;
    line-height: 1.9;
  }
  .ant-steps-item-icon {
    /*  width: 10px;
    height: 10px;
    top: -6px; */
    .ant-steps-icon .ant-steps-icon-dot {
      border: 2px solid;
      background-color: white;
    }
  }
}
