.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #31394d;
}
.category {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #31394d;
  margin: 0;
  @media (max-height: 400px) {
    font-size: 12px;
    margin-bottom: 0px;
  }
}
.next {
  width: 160px;
  height: 56px;
  background: #31394d;
  border-radius: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
  display: block;
  margin: auto;
}
