.rating .ant-rate {
  margin-right: 15px;
}

.rating .ant-rate .ant-rate-star {
  margin: 1px;
}

.tags
.ant-tag {
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.5px;
  color: #3C3E43;
  padding: 3px 5px;
  border-radius: 4px;
  cursor: pointer;
}