.container {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdde1;

  .headingsWrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #838894;
    letter-spacing: 0.5px;

    .heading {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .time {
      width: 20%;
    }

    .id {
      width: 17%;
    }

    .items {
      width: 13%;
    }

    .amount {
      width: 15%;
    }

    .delivery {
      width: 15%;
    }

    .status {
      width: 15%;
    }
  }

  .lastSection {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
}
