.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 40px;
  background: #fbe4e4;
  border-radius: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
