.info_container {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  @media (max-width: 900px) {
    flex-direction: column;
  }

  .data_container {
    flex-grow: 2;
    margin-bottom: 50px;
    @media (max-width: 900px) {
      width: 100%;
    }
    .head {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 0.3px;
      color: #31394d;
    }
    .subhead {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.5px;
      color: #31394d;
      padding-bottom: 16px;
      margin-bottom: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .uploader {
      position: relative;
      padding-bottom: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .photo_uploader {
        width: 150px;
        .progress_container {
          padding-top: 5px;
          height: 30px;
        }
      }
      .change_photo {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 19px;
        text-align: right;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #5375cb;
        cursor: pointer;
      }
      .success {
        position: absolute;
        width: 198px;
        height: 37px;
        left: 0;
        bottom: 0;
        background: rgba(122, 211, 152, 0.1);
        border-radius: 6px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 160%;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.5px;
        color: #7ad398;
      }
    }
    .name_section {
      padding: 16px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .label {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        display: flex;
        align-items: center;
        letter-spacing: 0.5px;
        color: #838894;
        margin-bottom: 0;
      }
      .input_name {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        display: flex;
        align-items: center;
        letter-spacing: 0.5px;
        color: #3c3e43;
        border: none;
      }
      .edit_icon {
        cursor: pointer;
      }
    }
    .btn_container {
      width: 160px;
      margin: 24px 0;
    }
  }
  .rewards {
    width: 532px;
    height: 200px;
    background: #fbe4e4;
    border-radius: 16px;
    padding: 45px;
    margin: 0 0 0 50px;
    @media (max-width: 1200px) {
      width: 420px;
    }
    @media (max-width: 900px) {
      margin: 0;
    }
    @media (max-width: 480px) {
      width: 375px;
    }

    .heading {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.5px;
      color: #31394d;
    }

    .main {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 42px;
      display: flex;
      align-items: center;
      letter-spacing: 0.3px;
      color: #3c3e43;
      @media (max-width: 1200px) {
        font-size: 24px;
      }
      @media (max-width: 480px) {
        font-size: 20px;
      }

      .hundred {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
        display: flex;
        align-items: center;
        letter-spacing: 0.5px;
        color: #eb5769;
        display: inline;
        margin-right: 10px;
        @media (max-width: 1200px) {
          font-size: 32px;
        }
        @media (max-width: 480px) {
          font-size: 24px;
        }
      }
    }
  }
}
