.container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #dcdde1;
  .heading {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .name {
    display: flex;
    width: 60%;

    @media screen and (max-width: 1024px) {
      width: 45%;
    }

    @media screen and (max-width: 768px) {
      width: 25%;
    }
  }

  .status {
    width: 20%;

    @media screen and (max-width: 768px) {
      width: 35%;
    }
  }

  .date {
    width: 15%;

    @media screen and (max-width: 768px) {
      width: 20%;
    }
  }
}
