.container {
  position: relative;
  align-self: center;
  input {
    box-sizing: border-box;
    width: 100%;
    min-width: 185px;
    max-width: 318px;
    height: 48px;
    padding-left: 40px;
    border: 1px solid rgba(49, 57, 77, 0.2);
    border-radius: 6px;
  }
  .search_icon {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 19px;
    height: 19px;
    cursor: pointer;
  }
}
