.site-calendar-customize-header-wrapper {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

.addexp .ant-select {
  width: 120px;
  margin: 0 24px 0 0px;

  @media (max-width: 768px) {
    width: 120px;
  }
}

.addexp .ant-select .ant-select-selector span {
  display: block;
  width: 100px;
}

.addexp .ant-select .ant-select-arrow {
  top: 50%;
}

.addexp .ant-picker {
  width: auto !important;
  margin: 0 24px 0 0px;
}

.buttons .ant-btn {
  height: 56px;
}
