.container {
  .content {
    position: relative;
    .label {
      display: block;
      margin-bottom: 7px;
      font-size: 12px;
      color: #838894;
    }
    .hint {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 16px;
      width: 387px;
      height: 36px;
      background: rgba(122, 211, 152, 0.1);
      border-radius: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.5px;
      color: #7ad398;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 42px 0 64px 0;
    }
    .delivery_layout {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 72px;
      .delivery_container {
        width: 50%;
        padding: 24px 24px 24px 0;
        position: relative;
        .standart_block {
          display: flex;
          flex-direction: row;
          padding: 5px 0 0 24px;

          .standart_cost {
            display: flex;
            flex-direction: column;
            margin-right: 24px;
          }
        }
      }
    }

    .open {
      position: absolute;
      width: 100px;
      top: -95px;
      left: 50%;
    }

    .header {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.5px;
      color: #3c3e43;
    }
    .btn_container {
      width: 160px;
    }
  }
}
