.container {
  .content {
    position: relative;

    .open {
      position: absolute;
      width: 100px;
      top: -95px;
      left: 50%;
    }

    .header {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.5px;
      color: #3c3e43;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background: #ffffff;
      border-radius: 16px;
      margin-bottom: 14px;

      .label {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        display: flex;
        align-items: center;
        letter-spacing: 0.5px;
        color: #838894;
        margin-bottom: 0;
      }

      input {
        display: block;
        position: relative;
        width: 100%;
        height: 56px;
        padding: 10px 15px;
        margin-bottom: 22px;
        font-size: 14px;
        border: 1px solid #adb0b8;
        box-sizing: border-box;
        backdrop-filter: blur(6px);
        border-radius: 8px;
        @media (max-width: 420px) {
          width: 343px;
        }
      }

      ::-webkit-input-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder,
      :-moz-placeholder {
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.5px;
        color: #393644;
        opacity: 0.6;
      }

      .errmsg {
        margin: -22px 15px 0;
        color: #bf1650;
      }

      .errmsg::before {
        display: inline;
        content: '⚠ ';
      }

      button[type='submit'],
      input[type='submit'] {
        width: 150px;
        background: #31394d;
        border-radius: 6px;
        color: white;
        text-transform: uppercase;
        border: none;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }

      button[type='submit']:hover,
      input[type='submit']:hover {
        opacity: 1;
        cursor: pointer;
      }

      button[type='submit']:active,
      input[type='button']:active,
      input[type='submit']:active {
        transition: 0.1s all;
        transform: translateY(2px);
        border: 1px solid transparent;
        opacity: 1;
      }

      input:disabled {
        opacity: 0.4;
      }

      input[type='button']:hover {
        transition: 0.3s all;
      }

      button[type='submit'],
      input[type='button'],
      input[type='submit'] {
        -webkit-appearance: none;
      }

      button[type='button'] {
        display: block;
        appearance: none;
        background: #333;
        color: white;
        border: none;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 4px;
      }

      .description {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.3px;
        color: #3c3e43;
        margin: 46px 0 96px;
      }

      button {
        display: block;
        appearance: none;
        margin-top: 40px;
        border: 1px solid #333;

        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 4px;
      }
    }
  }
}
