.add_form {
  .form-text {
    display: block;
    // padding-bottom: 14px;
    font-size: 12px;
    color: #838894;
  }
  .numeric_selector {
    display: flex;
    width: 158px;
    margin-right: 30px;
    .ant-input-number {
      border-radius: 6px 0 0 6px;
      .ant-input-number-input {
      }
    }
    .ant-select .ant-select-selector {
      border-radius: 0 6px 6px 0;
      border-left: none;
    }
  }
}
