.product-tabs
.ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 0;
}

.product-tabs
.ant-tabs-tab {
  border-radius: 16px 16px 0 0 !important;
}

.product-tabs
.ant-tabs-card > .ant-tabs-nav .ant-tabs-nav-list {
  width: 100% ;

  .ant-tabs-tab {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    display: block;
    color: #31394D;
    opacity: 0.4;
  }

  .ant-tabs-tab-active {
    opacity: 1;
  }

  .ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: bold;
  }
}