.selects {

  .ant-select {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #31394D;
    opacity: 0.8;
    width: 100%;
  
    
  }
}

.selects .ant-select .ant-select-selector span {
  display: block;
  width: 120px;
}

.selects .ant-select .ant-select-arrow {
  top: 50%;
}