.photo_container {
  .ant-upload-picture-card-wrapper {
    .ant-upload-list {
      .ant-upload-list-picture-card-container {
        width: 120px;
        height: 150px;
        margin: 0 24px 18px 0;
        @media (max-width: 768px) {
          margin: 0 18px 18px 0;
        }
        .ant-upload-list-item {
          border: none;
          border-radius: 8px;
          overflow: hidden;
          padding: 0;
        }
      }
      .ant-upload {
        width: 120px;
        height: 120px;
      }
    }
  }
}
