.statusWrapper {
  display: flex;
  flex-direction: row;
  // margin-bottom: 40px;
  letter-spacing: 0.5px;
  font-size: 16px;
  position: relative;
  align-items: center;

  .status {
    margin-right: 10px;
    color: #838894;
  }
  .statusType {
    color: #31394d;
  }

  .button {
    cursor: pointer;

    .arrow {
      width: 26px;
      height: 22px;
      padding: 7px;
      transition: transform 200ms ease-out;
    }
    .arrow_up {
      transform: rotate(-180deg);
    }
  }
  .typesWrapper {
    position: absolute;
    top: 110%;
    left: 0px;
    width: 20%;
    min-width: 140px;
    background: white;
    color: #31394d;
    border-radius: 10px;
    padding: 5px 0px 5px 5px;
    border: 1px solid #31394d;
    div {
      // margin: 0px 5px 5px 10px;
      cursor: pointer;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}
