.fmSelectWrapper .ant-select-multiple.ant-select-show-arrow .ant-select-selector,
.ant-select-multiple.ant-select-allow-clear .ant-select-selector {
  padding: 8px 10px 8px 10px;
}

.dateInput .ant-picker {
  width: 100%;
  height: 55px;
  // padding: 10px 20px;
}
