.photo_container {
  width: 460px;
  padding-bottom: 20px;
}

.photo_container > .ant-select {
  margin-bottom: 32px;
  border: 2px solid #31394d;
  box-sizing: border-box;
  border-radius: 8px;
}

.photo_container > .ant-select > .ant-select-arrow {
  color: #31394d;
  width: 30px;
}

.photo_container > .ant-select > .ant-select-selector:hover {
  cursor: pointer;
}

.photo_container > .ant-select > .ant-select-selector {
  height: 75px;
  background: #fbe4e4;
  padding: 0 24px;
}

.photo_container > .ant-select > .ant-select-selector > .ant-select-selection-item {
  height: 32px;
  background: white;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #31394d;
}
