.faq .ant-collapse .ant-collapse-item .ant-collapse-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.5px;
  color: #31394d;
  padding: 27px 35px 27px 0;
  background-color: white;
}

.faq
  .ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  background: #ffffff;
  letter-spacing: 0.5px;
  color: #31394d;
  opacity: 0.8;
  padding: 0 0 32px;
}

// .slick-slide {
//   height: auto; // ← that must not be ignored
// }
.slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
