@import 'styles/styles.scss';

.frame {
  .btn_holder {
    text-align: center;
    padding: 40px 0;
    width: 100%;

    @include media('<xs-phone') {
      padding: 20px 0;
    }

    button {
      display: inline-block;
      vertical-align: top;
      min-width: 240px;
      width: auto;
      padding: 0 55px;

      @include media('<xs-phone') {
        padding: 0 20px;
      }
    }
  }

  .page_header {
    padding: 80px 0 140px;
    margin: 0 0 20px;
    background-color: #31394d;
    color: white;
    position: relative;

    @media (max-width: 1024px) {
      padding: 60px 0 80px;
    }

    @media (max-width: 480px) {
      padding: 40px 0 60px;
    }

    &:before {
      content: ' ';
      position: absolute;
      bottom: -13px;
      left: 0;
      width: 100vw;
      height: 13px;

      background: url(../../assets/images/bg-head.png) 50% 100%;
      background-size: 100% 100%;
    }

    &:after {
      content: ' ';
      position: absolute;
      width: 708px;
      height: 668px;
      bottom: 0;
      left: -80px;
      background: url(../../assets/images/pattern.svg) no-repeat 50% 5%;
      background-size: 100% 100%;
    }

    .header_content {
      width: 100%;
      max-width: 1230px;
      margin: auto;
      padding: 0 15px;
      position: relative;
      z-index: 2;
      color: #fff;

      h1 {
        font-size: 56px;
        text-align: center;
        letter-spacing: 0.02em;

        color: #fff;
        font-weight: bold;
        margin: 0;

        @media (max-width: 1200px) {
          font-size: 45px;
        }

        @media (max-width: 1024px) {
          font-size: 35px;
          margin: 0 0 10px;
        }

        @media (max-width: 768px) {
          font-size: 28px;
          line-height: 1.1;
        }

        mark {
          color: #eb5769;
          background: none;

          @media (max-width: 768px) {
            display: block;
          }
        }
      }

      .slogan {
        font-weight: normal;
        font-size: 28px;
        text-align: center;
        margin: 0 0 20px;

        @media (max-width: 1024px) {
          font-size: 22px;
          margin: 0 0 30px;
        }

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }
  .content {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    padding: 80px 20px;

    @media (max-width: 1200px) {
      padding: 50px 10px;
    }

    .exp_section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -20px;

      @media (max-width: 1200px) {
        margin: 0;
      }
    }

    .product_section {
      padding: 120px 0 10px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      margin: 0 -20px;

      @media (max-width: 1200px) {
        margin: 0;
      }

      @media (max-width: 1024px) {
        padding: 40px 0 10px;
      }

      @media (max-width: 480px) {
        padding: 10px 0;
      }

      .product_bg_container {
        background: #f4f7fa;
        border-radius: 16px;
        overflow: hidden;
        padding: 124px 20px;
        position: relative;
        flex-grow: 1;
        margin: 0 -20px -140px;

        @media (max-width: 1400px) {
          margin: 0 0 -60px;
          padding: 80px 20px;
        }

        @media (max-width: 1024px) {
          padding: 50px 20px 70px;
        }

        @media (max-width: 480px) {
          padding: 40px 15px;
          margin: 0 0 10px;
        }

        img {
          position: absolute;
          right: -180px;
          top: -140px;

          @media (max-width: 480px) {
            display: none;
          }
        }
      }

      h1 {
        color: #31394d;
        font-weight: bold;
        font-size: 48px;
        text-align: center;
        letter-spacing: 0.02em;

        @media (max-width: 1200px) {
          font-size: 40px;
        }

        @media (max-width: 768px) {
          font-size: 30px;
        }

        @media (max-width: 480px) {
          font-size: 25px;
        }
      }

      .slogan {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        opacity: 0.8;
        color: #3c3e43;

        @media (max-width: 1200px) {
          font-size: 20px;
        }

        @media (max-width: 768px) {
          font-size: 16px;
        }

        @media (max-width: 480px) {
          font-size: 15px;
        }
      }
    }
    .lessons_section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -20px;

      @media (max-width: 1200px) {
        margin: 0 -10px;
      }

      @media (max-width: 1024px) {
        margin: 0;
      }

      .slogan {
        text-align: center;
        letter-spacing: 0.02em;
        color: #3c3e43;
        font-weight: 600;
        font-size: 24px;
        opacity: 0.8;

        @media (max-width: 1400px) {
          font-size: 20px;
        }

        @media (max-width: 1200px) {
          font-size: 17px;
        }
      }
    }
  }

  .local_makers_content {
    padding: 0 0 140px;

    @media (max-width: 1200px) {
      padding: 0 0 80px;
    }

    @media (max-width: 768px) {
      padding: 0 0 20px;
    }

    @media (max-width: 480px) {
      padding: 0 0 10px;
    }

    .local_makers_container {
      margin: 0 auto;
      max-width: 1240px;
      padding: 0 15px;

      .slogan {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        opacity: 0.8;
        color: #3c3e43;

        @media (max-width: 1200px) {
          font-size: 20px;
        }

        @media (max-width: 768px) {
          font-size: 16px;
        }

        @media (max-width: 480px) {
          font-size: 15px;
        }
      }
    }

    h1 {
      text-align: center;
      font-size: 48px;

      @media (max-width: 768px) {
        font-size: 36px;
      }

      @media (max-width: 480px) {
        font-size: 28px;
      }

      @include media('<xs-phone') {
        font-size: 25px;
        margin: 0 0 26px;
      }

      p {
        margin: 0 0 20px;
      }

      img {
        @media (max-width: 768px) {
          max-width: 150px;
        }

        @include media('<xs-phone') {
          max-width: 100px;
        }
      }
    }

    .local_tree_columns {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 -40px;

      @media (max-width: 1200px) {
        margin: 0 -10px;
      }

      @media (max-width: 1024px) {
        margin: 0;
        justify-content: center;
      }
    }
  }

  .faq_container {
    background-color: #f4f7fa;
    padding: 100px 0;

    @media (max-width: 768px) {
      padding: 60px 15px;
    }

    .faq_heading {
      font-weight: bold;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #31394d;
      margin-bottom: 40px;

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        letter-spacing: 0.3px;
        margin: 0 20px 32px;
      }
    }

    .section_faq {
      width: 100%;
      max-width: 1008px;
      background: #fff;
      border-radius: 16px;
      margin: 0 auto 150px;
      padding: 10px 32px 32px;

      @media (max-width: 768px) {
        margin: 0 auto 50px;
        padding: 20px;
      }

      @media (max-width: 768px) {
        margin: 0 auto 20px;
      }
    }
  }
}
