.select {
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.select .ant-select .ant-select-selector {
  height: 56px;
  // padding: auto;
}
.select .ant-select .ant-select-selector span {
  display: block;
  height: 56px;
  padding: 12px;
}
