.select .ant-select {
  width: 396px;
  @media (max-width: 420px) {
    width: 343px;
  }
  @media (min-width: 768px) {
    width: 120px;
  }
}

.select .ant-select .ant-select-selector {
  height: 56px;
  // padding: auto;
  margin-bottom: 20px;
}

.select .ant-select .ant-select-selector span {
  display: block;
  height: 56px;
  padding: 12px;
  margin-bottom: 20px;
}

.select .ant-select .ant-select-arrow {
  top: 40%;
}
