h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 112px 50px;
  background: #f5f8fb;
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    padding: 0 10px 170px;
  }

  .card_section {
    margin-bottom: 100px;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 64px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      color: #3c3e43;
    }

    .cards_wrapper {
      display: flex;
      justify-content: space-around;
      @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
      }
      .card {
        width: 25%;
        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 20px;
        }
        img {
          width: 100%;
          margin-bottom: 24px;
        }
        h2 {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 140%;
          /* identical to box height, or 28px */

          letter-spacing: 0.5px;

          color: #31394d;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 160%;
          /* or 22px */

          letter-spacing: 0.5px;

          color: #5a6070;
        }
        a {
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 19px;
          /* identical to box height, or 158% */

          text-align: center;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #4099ec;
        }
      }
    }
  }

  .learn_more {
    margin-bottom: 100px;
    background: #ffffff;
    border-radius: 16px;
    padding: 56px 73px 80px;
    position: relative;
    margin: 0 -57px 98px;
    width: 110%;
    max-width: 1330px;
    @media (max-width: 768px) {
      padding: 0 20px 50px;
    }

    .parachute {
      width: 160px;
      position: absolute;
      left: 73px;
      top: -150px;
      z-index: 3;
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .btn {
      width: 240px;
      height: 56px;
      background: #31394d;
      border-radius: 8px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      color: #ffffff;
      margin: 0 auto 20px;
      display: block;
      border: none;
    }
    h2 {
      max-width: 829px;

      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #3c3e43;
      margin: 0 auto 48px;
      @media (max-width: 768px) {
        font-size: 32px;
        line-height: 46px;
      }
    }

    .cards_wrapper {
      display: flex;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
      }
      .card {
        width: 30%;
        margin-bottom: 32px;

        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 70px;
        }
        img {
          width: 100%;
          margin-bottom: 24px;
        }
        h2 {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 140%;
          /* identical to box height, or 28px */

          letter-spacing: 0.5px;

          color: #31394d;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 160%;
          /* or 22px */

          letter-spacing: 0.5px;

          color: #5a6070;
        }
        a {
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 19px;
          /* identical to box height, or 158% */

          text-align: center;
          letter-spacing: 1px;
          text-transform: uppercase;

          color: #4099ec;
        }
      }
    }
  }

  .bottom_sec {
    position: relative;
    background: url('~assets/images/landings/foodmakers/footer.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: calc(100% + 224px);
    max-width: 1440px;
    height: 502px;
    margin: 0 -112px 72px;

    @media (max-width: 768px) {
      background: url('~assets/images/landings/foodmakers/footer-img-mobile.jpg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: calc(100% + 20px);
      margin: -10px;
    }

    .joincard {
      position: absolute;
      width: 464px;
      min-height: 294px;
      left: 112px;
      top: 104px;
      background: #ffffff;
      border-radius: 16px;
      padding: 40px;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 0.3px;
      color: #333333;

      @media (max-width: 1024px) {
        width: 80%;
        max-width: 464px;
        font-size: 24px;
        left: 30px;
      }
      @media (max-width: 768px) {
        width: 343px;
        top: 360px;
        left: 50%;
        transform: translate(-50%);
        font-size: 20px;
        text-align: center;
      }

      p {
        margin-bottom: 24px;
      }

      button {
        width: 100%;
        height: 56px;
        background: #31394d;
        border-radius: 6px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        color: #ffffff;
        border: none;
      }
    }
  }
}

/* =================================== */

.btn {
  width: 248px;
  height: 56px;
  background: #31394d;
  border-radius: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin: 80px auto 120px;
  display: block;
  border: none;
}

.standart_section {
  display: flex;
  padding: 0;
  margin-bottom: 132px;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    width: 100%;
  }
  .description {
    width: 50%;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
      width: 100%;
    }

    .hdr {
      font-family: 'DM Sans Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: 0.5px;
      color: #31394d;
      margin-bottom: 24px;

      @media (max-width: 1024px) {
        font-size: 24px;
        line-height: 48px;
      }

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
      }
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.5px;
      color: #5a6070;
      margin-bottom: 40px;
    }
    .btn_leading {
      width: 240px;
      height: 56px;
      background: #31394d;
      border-radius: 8px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      color: #ffffff;
      border: none;
    }
  }
  .img_container {
    width: 50%;
    margin-left: 24px;
    border-radius: 16px;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
    }
    .img {
      width: 100%;
    }
  }
}

.body_section {
  max-width: 1008px;
  margin: auto;
  display: flex;
  padding: 0;
  margin-bottom: 52px;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    width: 100%;
  }
  .description {
    position: relative;
    width: 50%;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
      width: 100%;
    }
    img {
      width: 120px;
      position: absolute;
      right: -60px;
      top: 0px;
      z-index: 3;
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .hdr {
      font-family: 'DM Sans Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 0.3px;
      color: #31394d;
      margin-bottom: 24px;

      @media (max-width: 1024px) {
        font-size: 24px;
        line-height: 48px;
      }

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
      }
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.5px;
      color: #5a6070;
      margin-bottom: 24px;
    }
    .btn {
      width: 240px;
      height: 56px;
      background: #31394d;
      border-radius: 8px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      color: #ffffff;
      border: none;
    }
  }
  .img_container {
    width: 50%;
    margin-left: 24px;
    border-radius: 16px;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
    }
    .img {
      width: 100%;
    }
  }
}

.reverse {
  flex-direction: row-reverse;
  .description {
    margin-right: 0;
    margin-left: 24px;
  }
  .img_container {
    margin-right: 24px;
    margin-left: 0px;
  }
}
