.container {
  display: flex;
  flex-direction: column;
  background: #f4f7fa;
  border-bottom: solid 1px #dcdde161;

  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    .buttons {
      display: contents;

      img {
        cursor: pointer;
      }

      img:first-child {
        margin-right: 10px;
      }
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    color: #3c3e43;
    font-weight: bold;
    font-size: 32px;

    @media (max-width: 768px) {
      font-size: 22px;
    }
    .btns_wrapper {
      display: flex;
      .like_btn {
        position: relative;
        width: 32px;
        margin: 0 3px;
        vertical-align: middle;
        cursor: pointer;
        .success {
          position: absolute;
          top: 40px;
          left: -230px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 260px;
          height: 37px;
          color: #7ad398;
          font-weight: normal;
          font-size: 18px;
          font-style: normal;
          line-height: 160%;
          letter-spacing: 0.5px;
          background: rgba(122, 211, 152, 0.1);
          border-radius: 6px;
        }
      }
    }
  }
}
